body {
    background-color: lightgoldenrodyellow;
    text-align: center;
}

.header {
    text-align: center;
    color: green;
}

.subtext {
    text-align: center;
    color: red;
}

#button {
    text-align: center;
}

#easter-egg {
    text-align: center;
    color: gold;
    font-weight: bold;
}
